@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
.container{
    height: 65vh;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    color: black;  

}
.latest{
    font-size: 50px;
}
.look{   
    font-size: 30px;
}
.git{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-size: 20px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
}
.git:hover{
    opacity: 0.8;
}